/* Resets */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

body {
	font: 13px/18px Arial, Helvetica, sans-serif;
	background:#666666;
}
.body_container {
	min-height:300px;
}
.main_body {
	margin: 0 30px 0 30px;
	
}

.services {
	float:left;
	width:200px;
	height:230px;
	margin:10px 10px 0px 0;
	
	
}

.services ul li:before {
	
	content: "\00BB \0020";
	}
.services li {
	list-style: none;
}
h1 {
	font:24px Arial, Helvetica, sans-serif;
	color: #d6de27;
	font-weight: bolder;
	padding-bottom:15px;
	
}
h2 {
	background:#262626;
	color: #d6de27;
	font-weight: bold;
	padding:3px 0 3px 4px;
	margin-bottom: 3px;
}
.container { 
	
	clear:left; 
	width:970px; 
	padding:0 0 2em; 
	margin:40px auto;
}
.work {
	width:145px;
	float:left;
}
.left {
	margin-right: 18px
}
.right {
	margin-right: 0px
}
#logo {
	
	padding-top:74px;
	margin-left:5px;
}

#leftcolumn {
	padding:0 20px;
	float:left;
	width:183px;
	background:#ffffff url('template/left_column.jpg');
	border-top: solid #ffffff 15px;
	border-bottom: solid #ffffff 15px;
	-webkit-box-shadow: 5px 5px 30px #444444;
	-moz-box-shadow: 5px 5px 30px #444444;
}
#midcolumn {
	width:13px;
	float:left;
	background:#ffffff;
	border-top: solid #ffffff 15px;
	border-bottom: solid #ffffff 15px;
	background:#ffffff url('template/arrow.png') no-repeat bottom;
}
#map_canvas {
	-webkit-box-shadow: 2px 2px 15px #444444;
	-moz-box-shadow: 2px 2px 15px #444444;
	margin-bottom: 10px;
}
p {
	padding-bottom:10px;
}
#rightcolumn {
	padding:0 14px;
	position:relative;
	margin-left:10px;
	float:left;
	width:694px;
	background:#ffffff;
	border-top: solid #ffffff 15px;
	border-bottom: solid #ffffff 15px;
	-webkit-box-shadow: 5px 5px 30px #444444;
	-moz-box-shadow: 5px 5px 30px #444444;
}

#menu {
	margin-top:80px;
	margin-left:5px;
}
#menu a{
	color: #eeeeee;
	
	font-weight: normal;
	font-size:11px;
	text-transform: uppercase;
	text-decoration: none;
}
#menu ul {
	margin-left:2px;
}
#menu ul li {
	list-style: none;
	
}
#menu ul li ul{
	margin-left:20px;
}
#menu a:hover{
	color: #d6de27;
	text-decoration: none;
}

.gallery_image {
	
	float: left;
	
	margin-top:10px;
	margin-bottom:20px;
	-webkit-box-shadow: 2px 2px 15px #444444;
	-moz-box-shadow: 2px 2px 15px #444444;
}
.gallery_left {
	margin-right: 30px
}
.footer {
	font-size:11px;
	position:absolute;
	color: #999999;
	bottom:22px;
}
.content_text {
	margin-right: 10px;
}
h3 {
	font-weight:bolder;
	margin:0;
	padding:0;
}
a {
	color:#111111;
	font-weight: bold;
	text-decoration:none;
}
input, textarea {
	width:250px;
}
textarea {
	height:100px;
}
#contact_submit input {
	width:100px;
}
.pp_nav {
	visibility:hidden;
}
.hide {
display:none;
}
