/* Resets */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

body {
	font: 14px/21px Arial, Helvetica, sans-serif;
	background:#666666;
}

.main_body {
	margin: 0 30px 0 30px;
}

.services {
	float:left;
	width:200px;
	height:260px;
	margin:0 10px 0 0;
	
	
}
.services ul li:before {
	
	content: "\00BB \0020";
	}
.services li {
	list-style: none;
}
h1 {
	font:24px Arial, Helvetica, sans-serif;
	color: #d6de27;
	font-weight: bolder;
	padding-bottom:10px;
	
}
h2 {
	background:#262626;
	color: #d6de27;
	font-weight: bold;
	padding:3px 0 3px 4px;
	margin-bottom: 3px;
}
.container { 
	
	clear:left; 
	width:970px; 
	padding:0 0 2em; 
	margin:20px auto;
}
.work {
	width:145px;
	float:left;
}
.left {
	margin-right: 37px
}
.right {
	margin-right: 0px
}
#logo {
	
	padding-top:70px;
}

#leftcolumn {
	padding:0 20px;
	float:left;
	width:183px;
	background:#ffffff url('template/left_column.jpg');
	border-top: solid #ffffff 15px;
	border-bottom: solid #ffffff 15px;
	-webkit-box-shadow: 5px 5px 30px #444444;
	-moz-box-shadow: 5px 5px 30px #444444;
}
#midcolumn {
	width:14px;
	background:#ffffff;
	float:left;
	border-top: solid #ffffff 15px;
	border-bottom: solid #ffffff 15px;
	background:#ffffff url('template/arrow.png') no-repeat 0 50%;
}

p {
	padding-bottom:10px;
}
#rightcolumn {
	padding:0 14px;
	margin-left:10px;
	float:left;
	width:694px;
	background:#ffffff;
	border-top: solid #ffffff 15px;
	border-bottom: solid #ffffff 15px;
	-webkit-box-shadow: 5px 5px 30px #444444;
	-moz-box-shadow: 5px 5px 30px #444444;
}

#menu {
	margin-top:90px;
	margin-left:5px;
}
#menu a{
	color: #eeeeee;
	
	
	font-size:12px;
	text-transform: uppercase;
	text-decoration: none;
}
#menu ul li {
	list-style: none;
	
}
#menu ul li ul{
	margin-left:20px;
}
#menu a:hover{
	color: #d6de27;
	text-decoration: none;
}

.gallery_image {
	width:208px;
	height: 147px;
	float: left;
	
	margin-top:35px;
	-webkit-box-shadow: 2px 2px 15px #444444;
	-moz-box-shadow: 2px 2px 15px #444444;
}
.gallery_left {
	margin-right: 35px
}
